In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data.csv")
df.drop(['index'], inplace=True, axis=1)
df.drop(['website_url'], inplace=True, axis=1)

In [3]:
df.head()

                                cleaned_website_text Category
0  official site good hotel accommodation big sav...   Travel
1  expedia hotel book sites like use vacation wor...   Travel
2  tripadvisor hotel book sites like previously d...   Travel
3  cheap flights search compare flights momondo f...   Travel
4  bot create free account create free account si...   Travel

In [4]:
num_categories = df['Category'].nunique()
print("Número de categorías:", num_categories)

Número de categorías: 16

In [5]:
catg = list(df['Category'].unique())
df['Category'].unique()

array(['Travel', 'Social Networking and Messaging', 'News',
       'Streaming Services', 'Sports', 'Photography',
       'Law and Government', 'Health and Fitness', 'Games', 'E-Commerce',
       'Forums', 'Food', 'Education', 'Computers and Technology',
       'Business/Corporate', 'Adult'], dtype=object)

In [6]:
catg

['Travel',
 'Social Networking and Messaging',
 'News',
 'Streaming Services',
 'Sports',
 'Photography',
 'Law and Government',
 'Health and Fitness',
 'Games',
 'E-Commerce',
 'Forums',
 'Food',
 'Education',
 'Computers and Technology',
 'Business/Corporate',
 'Adult']

In [7]:
for index, i in enumerate(catg):
    print(f'"{i}": {index},')

"Travel": 0,
"Social Networking and Messaging": 1,
"News": 2,
"Streaming Services": 3,
"Sports": 4,
"Photography": 5,
"Law and Government": 6,
"Health and Fitness": 7,
"Games": 8,
"E-Commerce": 9,
"Forums": 10,
"Food": 11,
"Education": 12,
"Computers and Technology": 13,
"Business/Corporate": 14,
"Adult": 15,

In [8]:
category_num = {
    "Travel": 0,
    "Social Networking and Messaging": 1,
    "News": 2,
    "Streaming Services": 3,
    "Sports": 4,
    "Photography": 5,
    "Law and Government": 6,
    "Health and Fitness": 7,
    "Games": 8,
    "E-Commerce": 9,
    "Forums": 10,
    "Food": 11,
    "Education": 12,
    "Computers and Technology": 13,
    "Business/Corporate": 14,
    "Adult": 15,
}


df.replace({'Category': category_num}, inplace=True)

In [9]:
df

                                   cleaned_website_text  Category
0     official site good hotel accommodation big sav...         0
1     expedia hotel book sites like use vacation wor...         0
2     tripadvisor hotel book sites like previously d...         0
3     cheap flights search compare flights momondo f...         0
4     bot create free account create free account si...         0
...                                                 ...       ...
1403  old nude women porn mature granny sex horny ol...        15
1404  bdsm cams bdsm chat bondage cams free bdsm vid...        15
1405  porno dvd online european porn dvd cheap adult...        15
1406  anal dream house anal dream house anal dream h...        15
1407  world sex news daily sex news adult news eroti...        15

[1408 rows x 2 columns]

In [10]:
Entradas = df.iloc[:, 0].values
Salida = y = df.iloc[:,-1].values

In [11]:
longitudes = df['cleaned_website_text'].str.len()

# Calcular el promedio de las longitudes
promedio = longitudes.mean()

print('promedio de las longitudes:', promedio)

promedio de las longitudes: 5274.671164772727

## Entrenamiento del modelo

In [12]:
from itertools import chain
import matplotlib.pyplot as plt

import nltk
nltk.download('stopwords', quiet=True)
# nltk.download('punkt', quiet=True)
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import seaborn
import numpy as np
import pandas as pd


from sklearn import feature_extraction
from sklearn.metrics import confusion_matrix
from sklearn import model_selection as ms
from sklearn import naive_bayes
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix

In [18]:
counts = feature_extraction.text.CountVectorizer()
extractor = counts.fit(Entradas)
X = counts.fit_transform(Entradas)
X.shape

(1408, 60031)

In [15]:
X_train, X_test, y_train, y_test = ms.train_test_split(X, Salida, test_size=0.2, random_state=42)

In [16]:
model_naive = naive_bayes.MultinomialNB()
model_naive.fit(X_train, y_train)

MultinomialNB()

In [17]:
model_naive.score(X_train, y_train)

0.9822380106571936

### Export model

In [19]:
import pickle

with open('feature_extractor.pkl', 'wb') as archivo:
    pickle.dump(extractor, archivo)

with open('model_naive.pkl', 'wb') as archivo:
    pickle.dump(model_naive, archivo)

In [21]:
import sklearn
print(sklearn.__version__)

0.24.2